
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

nav{
  background: #E69C9D;
  color:black;
}
div ul li a {
  color:black; 
}

div ul li a:hover{

 background: #EA5B6A;

}

#sobre{
  background:#FBECD5;
  color:black;

  padding: 40px;
}
#sobre h1 {
  opacity: 0.4;
  font-size: 30px;
  color:#EA5B6A 
}
.p-final-sobre{
  color:#EA5B6A ;
  font-size: 18px;
  font-weight: bold;

}

#designer{
  padding: 40px;
 
  background:#f4c3c6 ;
  color: white;
  margin:0;
}
h1{
  font-size: 30px;
  font-weight: bold;
  opacity: 0.4;
  color:#EA5B6A ;

}
.img-meio{
  padding-top: 5px;

}
.p-img-meio {
  padding-top:0px;


}
.pb-img-meio {
  padding-top:30px;


}

#braids{
  padding: 40px;
  background:#eb6f63 ;

}
#braids p{
  margin-top:120px;
}


footer{

 
  background:black;
}
.icones{

margin-top:-65px;


}

.atribuicao{

  color:white;
  font-size:10px;
}
.atribuicao a {


  color:pink;

}
.desenvolvedor{
  color:white;
}
.desenvolvedor span{
  margin-left:12px;
}
.desenvolvedor a{
  text-decoration: none;


  cursor:pointer;

  color:pink;
 
}


/*E69C9D    e28ab4      d96b78   d54255    eb6f63*/